[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/simpleit-hugo-theme"]
	path = themes/simpleit-hugo-theme
	url = https://github.com/marcanuy/simpleit-hugo-theme
